{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
<div class="container-fluid mb-5" id="home-container">
    <div id="allproducts-container">
        <div id="allproducts-img"></div>
        <div class="allproducts-overlay text-center">
            <h1 class="text-light fw-bold">The Best Games to your Table</h1>
            <h3 class="text-light fw-bold">From our stocked warehouse, we bring you the best in table top entertainment</h3>
            <a href="{% url 'all_products' %}" class="btn btn-warning btn-lg my-1">
                <span class="text-uppercase fw-bold">Start Shopping</span>
            </a>
        </div>
    </div>
    <div class="row" id="shopfront-sections">
        <div class="col-xl-3 col-lg-6 col-md-6 col-12 text-center">
            <div class="shopfront-img-container">
                <a href="{% url 'all_products' %}?bestseller">
                    <div class="shopfront-img img-fluid" id="bestsellers-img"></div>
                </a>
                <div class="shopfront-img-overlay">
                    <a href="{% url 'all_products' %}?bestseller" class="btn btn-warning btn-lg my-1">
                        <span class="text-uppercase fw-bold">best sellers</span>
                    </a>
                </div>
            </div>
            <p class="fs-2 my-0 fw-bold text-dark">Our Top Ten!</p>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12 text-center">
            <div class="shopfront-img-container">
                <a href="{% url 'all_products' %}?new">
                    <div class="shopfront-img img-fluid" id="newrelease-img"></div>
                </a>
                <div class="shopfront-img-overlay">
                    <a href="{% url 'all_products' %}?new" class="btn btn-warning btn-lg my-1">
                        <span class="text-uppercase fw-bold">new releases</span>
                    </a>
                </div>
            </div>
            <p class="fs-2 my-0 fw-bold text-dark">The Latest Games!</p>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12 text-center">
            <div class="shopfront-img-container">
                <a href="{% url 'all_products' %}?preorder">
                    <div class="shopfront-img img-fluid" id="preorder-img"></div>
                </a>
                <div class="shopfront-img-overlay">
                    <a href="{% url 'all_products' %}?preorder" class="btn btn-warning btn-lg my-1">
                        <span class="text-uppercase fw-bold">pre-orders</span>
                    </a>
                </div>
            </div>
            <p class="fs-2 my-0 fw-bold text-dark">Don't Miss Out!</p>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12 text-center">
            <div class="shopfront-img-container">
                <a href="{% url 'all_products' %}?on_sale">
                    <div class="shopfront-img img-fluid" id="onsale-img"></div>
                </a>
                <div class="shopfront-img-overlay">
                    <a href="{% url 'all_products' %}?on_sale" class="btn btn-warning btn-lg my-1">
                        <span class="text-uppercase fw-bold">on sale</span>
                    </a>
                </div>
            </div>
            <p class="fs-2 my-0 fw-bold text-dark">Huge Savings!</p>
        </div>
    </div>
</div>
{% include 'mailing_list/save_email.html' %}
{% endblock %}
    