{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>{% if search_term %} {{products|length }} Results for search: "{{ search_term }}"{% else %}{{ heading }}{% endif %}</h2>
                <hr class="w25 mb-1"> 
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}                          
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-2">
                            <div class="card h-100 border border-secondary">
                                <div class="image-container">
                                    <div class="overlay-image-topleft">
                                        {% if chart == True %}
                                            <p class="chart-position bg-warning text-dark fs-3">{{ forloop.counter }}</p>
                                        {% endif %}
                                    </div>
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.product_name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.product_name }}">
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="card-body pb-0 text-center text-uppercase">
                                    <p class="mb-0"><strong>{{ product.product_name }}</strong></p>
                                </div>
                                <div class="card-footer bg-light pt-0 text-center">
                                    <div class="row">
                                        {% if product.on_sale %}
                                            <div class="col d-inline-flex justify-content-center">
                                                <p class="mb-0 me-3 text-muted"><s>£{{ product.price }}</s></p> 
                                                <p class="mb-0"><strong>£{{ product.sale_price }}</strong></p> 
                                            </div>
                                        {% else %}
                                            <div class="col">
                                                <p class="mb-0">£{{ product.price }}</p> 
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        {% if product.stock > 10 %}
                                            <p class="mb-0 text-center bg-warning w-50">10+ in stock</p> 
                                        {% elif product.stock < 1 %}
                                            <p class="mb-0 text-center w-50">in stock soon</p> 
                                        {% else %}
                                            <p class="mb-0 text-center text-light bg-secondary w-50">{{ product.stock }} in stock</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>  
{% endblock %}