<script type="text/javascript">
// found how to disable here: http://www.java2s.com/example/javascript/dom-html-element/disable-a-button-with-setattributedisabled-and-removeattributedi.html

//handles enabling and disabling of the buttons based on the value of input that they are controlling
function handleEnabledDisabled(itemId) {
    let currentValue = parseInt(document.querySelector(`#id_qty_${itemId}`).value);
    let minusDisabled = currentValue < 2;
    let plusDisabled = currentValue > 14;
    let minusBtn = document.querySelector(`#minus-qty_${itemId}`)
    let plusBtn = document.querySelector(`#plus-qty_${itemId}`)
    minusBtn.removeAttribute("disabled")
    plusBtn.removeAttribute("disabled")
    if (minusDisabled) {
        minusBtn.setAttribute("disabled", "disabled");
    }
    if (plusDisabled) {
        plusBtn.setAttribute("disabled", "disabled");
    }
}

// On page load, loops through all input fields and calls the handleEnabledDisabled function
// to ensure proper enabling/disabling of all inputs on the page
var allQtyInputs = document.querySelectorAll('.qty-input');
for (let i = 0; i < allQtyInputs.length; i++) {
    let itemId = allQtyInputs[i].dataset.item_id;
    handleEnabledDisabled(itemId);
}

// Check enable/disable every time the input is changed by built in functions
document.querySelector('.qty-input').addEventListener("change", function() {
    let itemId = this.dataset.item_id;
    handleEnabledDisabled(itemId);
});

// Increase quantity
document.querySelectorAll('.plus-btn').forEach(item => {
    item.addEventListener('click', event => {
        event.preventDefault();
        let closestInput = item.closest('.input-group').querySelectorAll('.qty-input')[0];
        let currentValue = parseInt(closestInput.value);
        closestInput.value = currentValue + 1;
        let itemId = item.dataset.item_id
        handleEnabledDisabled(itemId);
    });
});

// document.querySelector(".plus-btn").addEventListener("click", function(event) {
//     event.preventDefault();
//     let closestInput = this.closest('.input-group').querySelectorAll('.qty-input')[0];
//     let currentValue = parseInt(closestInput.value);
//     closestInput.value = currentValue + 1;
//     let itemId = this.dataset.item_id
//     handleEnabledDisabled(itemId);
// });

// Decrease quantity
document.querySelectorAll('.minus-btn').forEach(item => {
    item.addEventListener('click', event => {
        event.preventDefault();
        let closestInput = item.closest('.input-group').querySelectorAll('.qty-input')[0];
        let currentValue = parseInt(closestInput.value);
        closestInput.value = currentValue - 1;
        let itemId = item.dataset.item_id
        handleEnabledDisabled(itemId);
    });
});


// document.querySelector(".minus-btn").addEventListener("click", function(event) {
//     event.preventDefault();
//     let closestInput = this.closest('.input-group').querySelectorAll('.qty-input')[0];
//     let currentValue = parseInt(closestInput.value);
//     closestInput.value = currentValue - 1;
//     let itemId = this.dataset.item_id
//     handleEnabledDisabled(itemId);
// });

</script>