/* ----------- home page shop front images styles ----------- */
#home-container {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

#allproducts-img {
    height: 400px;
    width: 100%;
    background: url("/media/allproducts_image.png") no-repeat center center; 
    background-size: cover;
}

#allproducts-container {
    height: 400x;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.allproducts-overlay {
    position: absolute;
    bottom: 100px;
}

.shopfront-img-container {
    position: relative;
}

.shopfront-img-overlay {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.shopfront-img {
    height: 350px;
    width: 100%;
    margin-top: 25px;
}

#bestsellers-img {
    background: url("/media/bestsellers_image.png") no-repeat center center; 
    background-size: cover;
}

#newrelease-img {
    background: url("/media/newrelease_image.png") no-repeat center center; 
    background-size: cover;
}

#preorder-img {
    background: url("/media/preorder_image.png") no-repeat center center; 
    background-size: cover;
}

#onsale-img {
    background: url("/media/onsale_image.png") no-repeat center center; 
    background-size: cover;
}

/* ----------- Information page styles ----------- */
.legal-text h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

.section-heading {
    font-size: 2.5rem !important;
    margin-top: 20px;
}

.legal-text h2 {
    font-size: 1.5rem;
}

.legal-text p,
.legal-text li {
    font-size: 1.25rem;
}
