{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Account Details</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div>
                    <h2 class="my-5">{{ profile }}</h2>
                </div>
                <div>
                    <a href="{% url 'profile' %}" class="btn btn-warning btn-lg text-uppercase fw-bold pt-2 mt-4 mb-2 w-75">
                        <span>
                            <i class="fas fa-user-alt"></i>
                        </span>
                        <span class="text-uppercase fw-bold">Account Information</span>
                    </a>
                </div>
                <div>
                    <a href="{% url 'home' %}" class="btn btn-warning btn-lg text-uppercase fw-bold pt-2 my-2 w-75">
                        <span>
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                        <span class="text-uppercase fw-bold">Orders</span>
                    </a>
                </div>
                <div>
                    <a href="{% url 'home' %}" class="btn btn-warning btn-lg text-uppercase fw-bold pt-2 my-2 w-75">
                        <span>
                            <i class="fas fa-heart"></i>
                        </span>
                        <span class="text-uppercase fw-bold">Wishlist</span>
                    </a>
                </div>
                <div>
                    <a href="{% url 'home' %}" class="btn btn-warning btn-lg text-uppercase fw-bold pt-2 mt-2 mb-4 w-75">
                        <span>
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span class="text-uppercase fw-bold">Logout</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                {% block profile_content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}