{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Account Details</h2>
                <div class="d-flex justify-content-center">
                    <hr class="w-75 mb-1"> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-2 col-lg-2 col-sm-4">
                <div class="d-flex flex-column align-items-center">
                    <div>
                        <h2 class="my-3">{{ profile }}'s Account</h2>
                    </div>
                    <div>
                        <a href="{% url 'profile' %}" class="btn btn-warning btn-lg profile-menu-btn pt-2 mt-4 mb-2">
                            <span>
                                <i class="fas fa-user-alt"></i>
                            </span>
                            <span class="fw-bold">Manage</span>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'profile_address' %}" class="btn btn-warning btn-lg profile-menu-btn pt-2 my-2">
                            <span>
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span class="fw-bold">Address</span>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'profile_orders' %}" class="btn btn-warning btn-lg profile-menu-btn pt-2 my-2">
                            <span>
                                <i class="fas fa-shopping-cart"></i>
                            </span>
                            <span class="fw-bold">Orders</span>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'wishlist' %}" class="btn btn-warning btn-lg profile-menu-btn pt-2 my-2">
                            <span>
                                <i class="fas fa-heart"></i>
                            </span>
                            <span class="fw-bold">Wishlist</span>
                        </a>
                    </div>
                    {% if request.user.is_superuser %}
                    <div>
                        <a href="{% url 'add_product' %}" class="btn btn-warning btn-lg profile-menu-btn pt-2 my-2">
                            <span>
                                <i class="fas fa-user-cog"></i>
                            </span>
                            <span class="fw-bold">Admin</span>
                        </a>
                    </div>
                    {% endif %}
                    <div>
                        <a href="{% url 'account_logout' %}" class="btn btn-warning btn-lg profile-menu-btn pt-2 mt-2 mb-4">
                            <span>
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span class="fw-bold">Logout</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-8">
                {% block profile_content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}