/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

#mailinglist-container {
    margin-bottom: -24px;
}

#email {
    width: 375px;
}

@media (max-width: 576px) {
    #email {
        width: 300px;
    }
}

@media (max-width: 425px) {
    #email {
        width: 180px;
    }
}