/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* ----------------- Dropdown styles for the country select drop down ----------------- */

/* makes the country drop down list font color Bootstrap 'dark' by default, except for the first option */
#id_default_country,
#id_default_country option:not(:first-child) {
    color: #212529;
}

/* makes the first option element in the country drop down, the colour of the placeholder. */
#id_default_country option:first-child {
    color: #aab7c4;
}

/* ----------------- height and information display for order history list ----------------- */
#order-history {
    max-height: 416px;
    overflow-y: auto;
}

/* ----------------- Button styles ----------------- */
.profile-menu-btn,
#admin-back-btn {
    width: 150px;
}

@media (max-width: 575px) {
    .profile-menu-btn,
    #admin-back-btn {
        width: 250px;
    }
}