/* --- Disables the built in increment/decrement functions in quantity selector input ---*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}

/*---- styles for responsiveness and size of quantity tool, and update and remove buttons ----*/
.fa-sync-alt {
	position: relative;
	padding-top: 9px !important;
	padding-bottom: 9px !important;
	margin-left: -65px !important;
}

.fa-trash-alt:hover, .fa-sync-alt:hover {
	color: #FFC107;
}

.cart-qty-select>.form-control, .cart-qty-select>.form-select {
    flex: none !important;
    width: 30% !important;
}