@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Economica&family=Love+Ya+Like+A+Sister&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh - 141px); /* minus the height of the navbar */
    background-color: #F8F9FA;
    font-family: 'Economica', sans-serif;
    font-size: 1.35rem;
}

/* ------------------ Navbar ------------------- */
.nav-link {
    padding: 0;
}

.nav-link:hover {
    color: #FFC107 !important;
}

#store-logo {
    font-family: 'Love Ya Like A Sister', cursive;
}

#strap-line {
    font-family: 'Amatic SC', cursive;
    margin-top: -20px;
    margin-left: 30px;
}

#nav-search {
    width: 75%;
}

.form-control {
    font-size: 1.25rem;
}

/* removes bootstrap dropdown arrow (https://www.geeksforgeeks.org/how-to-remove-arrow-in-dropdown-in-bootstrap/) */
.dropdown-toggle::after {
    content: none;
}

/* overrides the BS default */
.dropdown-item:hover {
    background-color: #FFC107;
    color: #212529 !important;
}

.navbar {
    margin-left: -5px;
}

#mobile-search-btn {
    margin-top: 12px;
}

/* ------------------ Media Queries ------------------- */

/* From Boutique Ado */
/* Increases container size a bit on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* From Boutique Ado */
/* Fixed top navbar only on medium screens and above  */
@media (min-width: 992px) {
    .header-container {
        padding-top: 150px;
    }
}

/* Fixed top navbar only on medium screens and below  */
@media (max-width: 991px) {
    .header-container {
        padding-top: 143px;
    }

    body {
        height: calc(100vh - 143px);
    }
}

@media (max-width: 576px) {
    #store-logo {
        font-size: 1.70rem;
    }

    #strap-line {
        font-size: 1.5rem;
        margin-top: -17px;
        margin-left: 40px;
    }
}

@media (max-width: 375px) {
    #strap-line {
        display: none;
    }
}