@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Economica&family=Love+Ya+Like+A+Sister&display=swap');

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    /* height: calc(100vh - 141px); minus the height of the navbar */
    background-color: #F8F9FA;
    font-family: 'Economica', sans-serif;
    font-size: 1.35rem;
}

body::-webkit-scrollbar {
    width: 0.55em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: #6C757D;
}

.content {
    flex: 1 0 auto;
}

hr {
    margin: 0.5rem 0;
}

a.no-decoration {
    text-decoration: none !important;
}
/* ------------------ Navbar ------------------- */
.nav-link {
    padding: 0;
}

.nav-link:hover {
    color: #FFC107 !important;
}

#store-logo {
    font-family: 'Love Ya Like A Sister', cursive;
}

#nav-search {
    width: 75%;
}

.form-control,
.form-select {
    font-size: 1.25rem;
}

/* removes bootstrap dropdown arrow (https://www.geeksforgeeks.org/how-to-remove-arrow-in-dropdown-in-bootstrap/) */
.dropdown-toggle::after {
    content: none;
}

/* overrides the BS default */
.dropdown-item:hover {
    background-color: #FFC107;
    color: #212529 !important;
}

.navbar {
    margin-left: -5px;
}

#mobile-search-btn {
    margin-top: 12px;
}

#responsive-logo {
    margin-bottom: -8px !important;
}

#genre-dropdown {
  height: 60vh;
  max-height: 100vh;
  width: 200%;
  overflow-y: scroll;
}

#genre-dropdown::-webkit-scrollbar {
    width: 0.35em;
}

#genre-dropdown::-webkit-scrollbar-track {
    background-color: #212529;
  }
   
#genre-dropdown::-webkit-scrollbar-thumb {
    background-color: #6C757D;
    border-radius: 5px;
  }

/* ------------------ Product display styles ------------------- */

.image-container {
    position: relative;
}

.overlay-image-topleft {
    position: absolute;
    top: 20px;
    left: 20px;
}

.overlay-image-topright {
    position: absolute;
    top: 20px;
    right: 20px;
}

.chart-position {
    width: 40px;
    text-align: center;
}

#product-detail-title {
    margin-top: 45px;
}

/* ------------------ Button styles ------------------- */

.btn {
    height: 44px;
    padding-top: 7px !important;
}

.btn-outline-dark:hover {
    border: solid 1px #FFC107;
    background-color: #FFC107;
    color: #212529;
}

.btn-warning:hover {
    border: solid 1px #212529;
    background-color: #212529;
    color: #FFC107 !important;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------ Messages ------------------- */

.messages-container {
    position: fixed;
    top: 140px;
    right: 10px;
    z-index: 99999999999;
}

.toast-header strong,
.toast-body p {
    font-size: 1.35rem;
}

.toast-capper {
    height: 4px;
}

/* ------------------ Form styles ------------------- */

#qty-select {
    width: 75px !important;
}

.qty-input {
    height: 44px;
}

.qty-select {
    width: 200px;
}

/* ------------------ shopping cart and checkout styles ------------------- */

.cart-heading-hr {
    height: 5px !important;
    background-color: #FFC107;
}

.cart-item-hr {
    height: 1px !important;
    background-color: lightgrey;
}

/* ------------------ Allauth form formatting ----------------------- */

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

/* ------------------ Product Detail view - admin link styles ------------------- */
#admin-reveal {
    border: 0;
    background-color: #F8F9FA;
    margin-bottom: 3px;
}

#admin-reveal:hover {
    text-decoration: underline;
}

/* ------------------ add product form styles ------------------- */

div > div.form-check {
    display: inline-flex;
    width: 32%;
}

div > div.form-check > .form-check-label {
    margin-left: 5px;
}

/* ------------------ footer ------------------- */
.footer {
    flex-shrink: 0;
}

/* ------------------ error pages (404 and 500) ------------------- */
#error-container {
    height: 65vh;
    width: 100vw; 
}

#error-image img {
    height: 25%;
}

/* ------------------ Media Queries ------------------- */

/* From Boutique Ado */
/* Increases container size a bit on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 1200px) {
    #error-image img {
        height: 60%;
    }
}

/* From Boutique Ado */
/* Fixed top navbar only on medium screens and above  */
@media (min-width: 993px) {
    .header-container {
        padding-top: 150px;
    }
}

/* Fixed top navbar only on medium screens and below  */
@media (max-width: 992px) {
    .header-container {
        padding-top: 143px;
    }

    #store-logo {
        font-size: 2.70rem;
    }
}

@media (max-width: 767px) {
    #product-detail-title {
        margin-top: -40px;
    }

    div > div.form-check {
        width: 45%;
    }

    #genre-dropdown {
        width: 140%;
    }
}

@media (max-width: 576px) {
    .header-container {
        padding-top: 130px;
    }

    #store-logo {
        font-size: 1.9rem;
        padding-top: 8px;
    }
}

@media (max-width: 425px) {
    div > div.form-check {
        width: 95%;
    }

    #error-image img {
        height: 70%;
    }

    #store-logo {
        font-size: 1.6rem;
        padding-top: 10px;
    }
}

@media (max-width: 375px) {
    /* Added to make BS toasts responsive. */
    .toast {
        width: 95%;
    }

    #store-logo {
        font-size: 1.3rem;
        padding-top: 15px;
    }
}








