/* ---------- Rating & review input ---------- */
#star-panel {
    padding: 5px;
}

.radio_item {
    position:fixed; 
    opacity:0;
}

.rating-star {
    font-size: 1.6rem;
    cursor: pointer;
}

/* ---------- Rating & review display ----------*/
.star-outline {
    text-shadow: -1px 1px 2px #FFC107, 
                 1px 1px 2px #FFC107,
                 1px -1px 0 #FFC107,
                 -1px -1px 0 #FFC107 !important;
}

.star-filled {
    color: #FFC107;
}

.star-empty {
    color: #F8F9FA;
}