/* ---------- Rating & review input ---------- */
#star-panel {
    padding: 5px;
}

.radio_item {
    position:fixed; 
    opacity:0;
}

.rating-star {
    font-size: 1.6rem;
    cursor: pointer;
}

/* ---------- Rating & review display ----------*/
.star-outline {
    text-shadow: -1px 1px 2px #FFC107, 
                 1px 1px 2px #FFC107,
                 1px -1px 0 #FFC107,
                 -1px -1px 0 #FFC107 !important;
}

.star-filled {
    color: #FFC107;
}

.star-empty {
    color: #F8F9FA;
}

#number-ratings a {
    text-decoration: none;
}

#reveal-all-reviews:hover, #reveal-all-reviews:focus,
#hide-all-reviews:hover, #hide-all-reviews:focus,
#number-ratings a:hover, #number-ratings a:focus {
    text-decoration: underline;
    cursor: pointer;
}

.review-box-rating {
    border-radius: 5px 5px 0px 0px;
}

.review-box-review {
    border-radius: 0px 0px 5px 5px;
}

/* --- Disables the built in increment/decrement functions in quantity selector input ---*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}