/* ------------------ Product Detail view - admin link styles ------------------- */
#admin-reveal {
    border: 0;
    background-color: #F8F9FA;
    margin-bottom: 3px;
}

#admin-reveal:hover {
    text-decoration: underline;
}

/* ------------------ add product form styles ------------------- */

div > div.form-check {
    display: inline-flex;
    width: 32%;
}

div > div.form-check > .form-check-label {
    margin-left: 5px;
}

@media (max-width: 768px) {
    div > div.form-check {
        width: 45%;
    }
}

@media (max-width: 425px) {
    div > div.form-check {
        width: 95%;
    }
}