{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="text-dark text-uppercase">Ooops! That page does not exist. You might want to re-roll!</h1>
                <!-- Home button -->
                <a class="btn btn-outline-dark btn-lg my-3 text-uppercase fw-bold" href="{% url 'home' %}">
                    <span class="text-uppercase fw-bold">Home</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center" id="error-image">
                <img class="img-fluid" src="{{ MEDIA_URL }}white_dice.png" alt="drawing of two white dice">
            </div>
        </div>
    </div>
{% endblock %}