{% extends "profiles/admin_menu.html" %}

{% block profile_content %}
<p class="fs-4 mb-1">Add a Genre</p>
<form class="mt-3" action="{% url 'add_genre' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="float-end">
        <a class="btn btn-outline-dark btn-lg my-3 text-uppercase fw-bold" href="{% url 'add_genre' %}">Cancel</a>
        <button class="btn btn-warning btn-lg text-uppercase fw-bold pt-2" type="submit">Add Genre</button>         
    </div>
</form>

{% endblock %}