{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container-fluid">
        <!-- Page title -->
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="text-capitalize">{% if search_term %} {{ count }} Results for search: "{{ search_term }}"{% else %}{{ heading }}{% endif %}</h2>
                <div class="d-flex justify-content-center">
                    <hr class="w-75 mb-1"> 
                </div>
            </div>
        </div>
        <!-- Sort dropdown options (does not display for bestsellers as they are sorted already by amount sold)-->
        {% if chart != True %}
            <div class="row">          
                <div class="offset-1 col-10 d-flex justify-content-center justify-content-sm-end">
                    <div class="sort-select-wrapper">
                        <select id="sort-selector" class="form-select form-select-sm border-dark border-{% if current_sorting != 'None_None' %}info{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% if chart == True %}
                    <!-- Display for bestseller items only - limits the display to 10 products only -->
                        {% for product in products %}
                            {% if forloop.counter < 11 %}  
                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-2">
                                    <div class="card h-100 border border-secondary">
                                        <div class="image-container">
                                            <div class="overlay-image-topleft">
                                                <p class="chart-position bg-warning text-dark fs-3 rounded-circle">{{ forloop.counter }}</p>
                                            </div>
                                            <!-- labels images with product status (if any) -->
                                            <div class="overlay-image-topright">
                                                {% if product.pre_order %}
                                                    <p class="bg-danger text-light fs-3 px-3 mb-1">Hot Pre-order!</p>
                                                {% endif %}
                                                {% if product.new_release %}
                                                    <p class="bg-success text-light fs-3 px-3 mb-1">New Release</p>
                                                {% endif %}
                                                {% if product.on_sale %}
                                                    <p class="bg-warning text-dark fs-3 px-3">ON SALE!</p>
                                                {% endif %}
                                            </div>
                                            <!-- Display of product image -->
                                            {% if product.image %}
                                                <a href="{% url 'product_detail' product.id %}">
                                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="Image of {{ product.name }}">
                                                </a>
                                            {% else %}
                                                <a href="{% url 'product_detail' product.id %}">
                                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="No image available of {{ product.name }}">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="card-body pb-0 text-center text-uppercase">
                                            <p class="mb-0"><strong>{{ product.name }}</strong></p>
                                        </div>
                                        <div class="card-footer bg-light pt-0 text-center">
                                            <!-- Display of product price -->
                                            <div class="row">
                                                {% if product.on_sale %}
                                                    <div class="col d-inline-flex justify-content-center">
                                                        <p class="mb-0 me-3 text-muted"><s>£{{ product.price }}</s></p> 
                                                        <p class="mb-0"><strong>£{{ product.sale_price }}</strong></p> 
                                                    </div>
                                                {% else %}
                                                    <div class="col">
                                                        <p class="mb-0">£{{ product.price }}</p> 
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <!-- Display of product stock status -->
                                            <div class="row d-flex justify-content-center">
                                                {% if product.stock > 10 %}
                                                    <p class="mb-0 text-center bg-warning w-50">10+ in stock</p> 
                                                {% elif product.stock < 1 %}
                                                    <p class="mb-0 text-center w-50">in stock soon</p> 
                                                {% else %}
                                                    <p class="mb-0 text-center text-light bg-secondary w-50">{{ product.stock }} in stock</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <!-- Display of products for all other shop front options -->
                        {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-2">
                                <div class="card h-100 border border-secondary">
                                    <div class="image-container">
                                        <!-- labels images with product status (if any) -->
                                        <div class="overlay-image-topright">
                                            {% if product.pre_order %}
                                                <p class="bg-danger text-light fs-3 px-3 mb-1">Hot Pre-order!</p>
                                            {% endif %}
                                            {% if product.new_release %}
                                                <p class="bg-success text-light fs-3 px-3 mb-1">New Release</p>
                                            {% endif %}
                                            {% if product.on_sale %}
                                                <p class="bg-warning text-dark fs-3 px-3">ON SALE!</p>
                                            {% endif %}
                                        </div>
                                        <!-- Display of product image -->
                                        {% if product.image %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="Image of {{ product.name }}">
                                            </a>
                                        {% else %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="No image available of {{ product.name }}">
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="card-body pb-0 text-center text-uppercase">
                                        <p class="mb-0"><strong>{{ product.name }}</strong></p>
                                    </div>
                                    <div class="card-footer bg-light pt-0 text-center">
                                        <!-- Display of product price -->
                                        <div class="row">
                                            {% if product.on_sale %}
                                                <div class="col d-inline-flex justify-content-center">
                                                    <p class="mb-0 me-3 text-muted"><s>£{{ product.price }}</s></p> 
                                                    <p class="mb-0"><strong>£{{ product.sale_price }}</strong></p> 
                                                </div>
                                            {% else %}
                                                <div class="col">
                                                    <p class="mb-0">£{{ product.price }}</p> 
                                                </div>
                                            {% endif %}
                                        </div>
                                        <!-- Display of product stock status -->
                                        <div class="row d-flex justify-content-center">
                                            {% if product.stock > 10 %}
                                                <p class="mb-0 text-center bg-warning w-50">10+ in stock</p> 
                                            {% elif product.stock < 1 %}
                                                <p class="mb-0 text-center w-50">in stock soon</p> 
                                            {% else %}
                                                <p class="mb-0 text-center text-light bg-secondary w-50">{{ product.stock }} in stock</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Back to top button -->
    <div class="btt-link">
        <a class="d-flex h-100">
            <div class="btt-button btn btn-outline-dark shadow">
                <i class="fas fa-arrow-up text-dark mx-auto my-auto"></i>
            </div>  
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'products/js/back_to_top.js' %}"></script>
<script src="{% static 'products/js/sort_selector.js' %}"></script>

{% endblock %}