{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container">
        <!-- Page title -->
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Edit Product</h2>
                <div class="d-flex justify-content-center">
                    <hr class="w-75 mb-1"> 
                </div>
                <h5 class="text-muted">You are editing the details for <strong><span class="text-capitalize">{{ product.name }}</span></strong></h5>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-2 col-lg-8 offset-sm-1 col-sm-10">
                <!-- This form can be accessed from two places.  Nav variable ensures user goes back to correct place when exiting form -->
                {% if nav == 1 %}
                    <form method="POST" action="{% url 'edit_product' product.id 1 %}" class="form mb-2" enctype="multipart/form-data">
                {% else %}
                    <form method="POST" action="{% url 'edit_product' product.id 0 %}" class="form mb-2" enctype="multipart/form-data">
                {% endif %}
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        {% if nav == 1 %}
                            <a class="btn btn-outline-dark btn-lg my-3 text-uppercase fw-bold" href="{% url 'product_detail' product.id %}">Cancel</a>
                        {% else %}
                            <a class="btn btn-outline-dark btn-lg my-3 text-uppercase fw-bold" href="{% url 'products_list' %}">Cancel</a>
                        {% endif %}
                        <button class="btn btn-warning btn-lg text-uppercase fw-bold pt-2" type="submit">Update Product</button>         
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}