{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Product image display -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2"> <!-- offset pushes the image towards centre of screen -->
                <div class="image-container my-5">
                    <div class="overlay-image-topleft">
                        {% if product.pre_order %}
                            <p class="bg-danger text-light fs-3 px-3 mb-1">Hot Pre-order!</p>
                        {% endif %}
                        {% if product.new_release %}
                            <p class="bg-success text-light fs-3 px-3 mb-1">New Release</p>
                        {% endif %}
                        {% if product.on_sale %}
                            <p class="bg-warning text-dark fs-3 px-3">ON SALE!</p>
                        {% endif %}
                    </div>
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Product details and purchase interaction -->
            <div class="col-12 col-md-6 col-lg-4">
                <h1 class="mb-0" id="product-detail-title">{{ product.name }}</h1>
                <hr class="w100">
                <!-- Determines if a sale price will be shown -->
                <div class="d-flex justify-content-between">
                    <div>
                        {% if product.on_sale %}
                        <div class="d-inline-flex">
                            <p class="mb-0 me-3 text-muted"><s>£{{ product.price }}</s></p> 
                            <p class="mb-0"><strong>£{{ product.sale_price }}</strong></p> 
                        </div>
                        {% else %}
                        <div>
                            <p class="mb-0 text-left">£{{ product.price }}</p>
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        {% if request.user.is_authenticated %}
                            {% if in_wishlist %}
                                <a href="{% url 'wishlist_toggle' product.id 1 %}" class="btn btn-warning btn-lg" data-bs-toggle="tooltip" data-bs-placement="right" title="Remove from wishlist">
                                    <span>
                                        <i class="fas fa-heart"></i>
                                    </span>
                                </a>
                            {% else %}
                                <a href="{% url 'wishlist_toggle' product.id 1 %}" class="btn btn-outline-dark btn-lg" data-bs-toggle="tooltip" data-bs-placement="right" title="Add to wishlist">
                                    <span>
                                        <i class="far fa-heart"></i>
                                    </span>
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'account_login' %}" class="btn btn-outline-dark btn-lg" data-bs-toggle="tooltip" data-bs-placement="right" title="Sign in to use this function">
                                <span>
                                    <i class="far fa-heart"></i>
                                </span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <!-- Genre tags -->
                <div>
                    <ul class="list-inline list-unstyled"></ul>
                        <li class="list-inline-item">
                            <p class="small my-0">
                                <i class="fas fa-tags text-muted"></i>
                            </p>
                        </li>
                    {% for display_genre in display_genres %}
                        <li class="list-inline-item">
                            <p class="small my-0">
                                <a class="text-muted" href="{% url 'home' %}?genre={{ display_genre.genre.name }}">
                                    {{ display_genre.genre.friendly_name }}
                                </a>
                            </p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="d-inline-flex">
                    <div>
                        {%  if product.rating == 0 %}
                            <p class="text-muted fs-5">No ratings yet</p>
                        {% elif product.rating == 1 %}
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-empty"></i>
                            <i class="fas fa-star star-outline star-empty"></i>
                            <i class="fas fa-star star-outline star-empty"></i>
                            <i class="fas fa-star star-outline star-empty"></i>
                        {% elif product.rating == 2 %}
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-empty"></i>
                            <i class="fas fa-star star-outline star-empty"></i>
                            <i class="fas fa-star star-outline star-empty"></i>
                        {% elif product.rating == 3 %}
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-empty"></i>
                            <i class="fas fa-star star-outline star-empty"></i>
                        {% elif product.rating == 4 %}
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-empty"></i>
                        {% else %}
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-filled"></i>
                            <i class="fas fa-star star-outline star-filled"></i>
                        {% endif %}
                    </div>
                    <div id="number-ratings">
                        {% if product.reviews.all|length == 1 %}
                            <a href="#reviews-section"><p class="text-primary fs-5 ms-2">{{ product.reviews.all|length }} review</p></a>
                        {% elif product.reviews.all|length > 1 %}
                            <a href="#reviews-section"><p class="text-primary fs-5 ms-2">{{ product.reviews.all|length }} reviews</p></a>
                        {% endif %}
                    </div>
                </div>
                <!-- Determines message to display if no product stock -->
                {% if product.stock <= 0%}
                <div>
                    {% if product.pre_order %}
                    <div class="d-inline-flex">
                        <p class="fs-5 fw-bold text-success">Available for pre-order<i class="ms-2 fas fa-check"></i></p>
                        <p class="fs-6 text-muted ms-1 mt-1">(One per purchase)</p>
                    </div>
                    {% else %}
                    <p class="mt-2 fs-5 fw-bold text-danger">Sorry, currently out of stock</i></p>
                    {% endif %}
                </div>
                {% endif %}
                <!-- Determines the message to display if product in stock -->
                {% if product.stock > 0 %}
                    {% if product.stock > 10 %}
                    <p class="mt-2 mb-1 fs-5 text-success">10+ in stock</p> 
                    {% else %}
                    <p class="mt-2 mb-1 fs-5 fw-bold text-success">{{ product.stock }} in stock</p>
                    {% endif %}
                {% endif %}
                <input type="hidden" value="{{ stock }} " id="stock_{{ product.id }}">
                <!-- Select quantity and add to cart form - Only displays if product in stock or a pre-order -->
                {% if product.stock > 0 or product.pre_order %}
                <form class="row mt-1" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="col-12 d-flex flex-row">
                        <p class="mt-1 me-2"><strong>Qty:</strong></p>
                        <!-- Quantity select box mobile friendly -->
                        <div class="input-group qty-select">
                            <button class="minus-btn btn bg-warning btn-outline-warning" data-item_id="{{ product.id }}" id="minus-qty_{{ product.id }}">
                                <i class="text-dark fas fa-minus"></i>
                            </button>
                            <input type="number" class="form-control qty-input fs-4 fw-bold" name="quantity" value="1" min="1" max="10" data-item_id="{{ product.id }}" 
                                id="id_qty_{{ product.id }}">
                            <button class="plus-btn btn bg-warning btn-outline-warning" data-item_id="{{ product.id }}" id="plus-qty_{{ product.id }}">
                                <i class="text-dark fas fa-plus"></i>
                            </button>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-warning btn-lg text-uppercase fw-bold ms-2 pt-2" value="Add to Cart">
                        </div>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                {% endif %}
                <!-- Product description -->
                <p class="mt-3 fs-5">{{ product.description }}</p>
                <!-- Keep shopping button -->
                <div class="col-12">
                    <a href="{% url 'home' %}" class="btn btn-outline-dark btn-lg my-3">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase fw-bold">Keep Shopping</span>
                    </a>
                </div>
                {% if request.user.is_superuser %}
                    <div>
                        <button id="admin-reveal" class="text-primary">Admin ></button>
                    </div>
                    <div id= "admin-functions" class="">
                        <a class="btn btn-warning btn-lg text-uppercase fw-bold pt-2" href="{% url 'edit_product' product.id 1 %}">Edit</a>
                        <a class="btn btn-warning btn-lg text-uppercase fw-bold pt-2 ms-1" href="{% url 'update_stock' product.id %}">Update Stock</a>
                        <a class="btn btn-warning btn-lg text-uppercase fw-bold pt-2 ms-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>    
                    </div>
                {% endif %}
            </div>
        </div>
        {% if product.reviews.all|length > 0 %}
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2" id="reviews-section">
                <h2>Reviews <i class="fas fa-chevron-right fa-xs"></i></h2>
                {% for review in product.reviews.all %}
                    {% if forloop.counter < 4 %}
                        <div class="bg-secondary review-box-rating">
                            <div class="d-inline-flex pt-2 ps-2">
                                <p class="text-light mb-1">
                                    <i class="fas fa-user-edit"></i> 
                                    {{ review.user }}
                                </p>
                                <div class="d-inline-flex ms-3">
                                    <div>
                                        {%  if review.rating == 0 %}
                                            <p class="text-muted fs-5">No ratings yet</p>
                                        {% elif review.rating == 1 %}
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                        {% elif review.rating == 2 %}
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                        {% elif review.rating == 3 %}
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                        {% elif review.rating == 4 %}
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                        {% else %}
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white review-box-review">
                            <p class="mb-3 px-3 pb-3">{{ review.review }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if product.reviews.all|length > 3 %}
                    <div>
                        <p id="reveal-all-reviews" class="text-primary"> See all reviews ></p>
                    </div>
                    <div id="all-reviews">
                    {% for review in product.reviews.all %}
                        {% if forloop.counter > 3 %}
                        <div class="bg-secondary review-box-rating">
                            <div class="d-inline-flex pt-2 ps-2">
                                <p class="text-light mb-1">
                                    <i class="fas fa-user-edit"></i> 
                                    {{ review.user }}
                                </p>
                                <div class="d-inline-flex ms-3">
                                    <div>
                                        {%  if review.rating == 0 %}
                                            <p class="text-muted fs-5">No ratings yet</p>
                                        {% elif review.rating == 1 %}
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                        {% elif review.rating == 2 %}
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                        {% elif review.rating == 3 %}
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                        {% elif review.rating == 4 %}
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-empty"></i>
                                        {% else %}
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                            <i class="fas fa-star star-outline star-filled"></i>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white review-box-review">
                            <p class="mb-3 px-3 pb-3">{{ review.review }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div>
                        <p id="hide-all-reviews" class="text-primary"> < Close</p>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>  
    <!-- Modal shown to ask confirmation when superuser clicks on delete -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p>Are you sure you want to delete this product?</p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-outline-dark btn-lg my-3 text-uppercase fw-bold" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-warning btn-lg text-uppercase fw-bold ms-2 pt-2" href="{% url 'delete_product' product.id 1 %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'products/js/quantity_input_output.js' %}"></script>
<script src="{% static 'products/js/admin_functions.js' %}"></script>
<script src="{% static 'products/js/all_reviews_script.js' %}"></script>

{% endblock %}