{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col text-center mt-3">
                    <hr>
                    <h2 class="mb-4">Admin Menu</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-lg-2">
                <a href="{% url 'profile' %}" class="btn btn-outline-dark btn-lg pt-2">
                    <span>
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="fw-bold text-uppercase">Back</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-2 col-lg-2 col-sm-4">
                <div class="d-flex flex-column align-items-center">
                    <div>
                        <a href="" class="btn btn-warning btn-lg profile-menu-btn pt-2 mt-4 mb-2">
                            <span>
                                <i class="fas fa-folder-plus"></i>
                            </span>
                            <span class="fw-bold">Add Product</span>
                        </a>
                    </div>
                    <div>
                        <a href="" class="btn btn-warning btn-lg profile-menu-btn pt-2 my-2">
                            <span>
                                <i class="fas fa-cubes"></i>
                            </span>
                            <span class="fw-bold">Add Stock</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-8">
                {% block profile_content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}

{% endblock %}