{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2"> <!-- offset pushes the image towards centre of screen -->
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <p class="mb-0 fs-1" id="product-detail-title">{{ product.product_name }}</p>
                <hr class="w100">
                <div class="col">
                    {% if product.on_sale %}
                    <div class="col d-inline-flex">
                        <p class="mb-0 me-3 text-muted"><s>£{{ product.price }}</s></p> 
                        <p class="mb-0"><strong>£{{ product.sale_price }}</strong></p> 
                    </div>
                    {% else %}
                    <div class="col">
                        <p class="mb-0 text-left">£{{ product.price }}</p>
                    </div>
                    {% endif %}
                </div>
                <ul class="list-inline list-unstyled"></ul>
                    <li class="list-inline-item">
                        <p class="small my-0">
                            <i class="fas fa-tags text-muted"></i>
                        </p>
                    </li>
                {% for display_genre in display_genres %}
                    <li class="list-inline-item">
                        <p class="small my-0">
                            <a class="text-muted" href="{% url 'home' %}?genre={{ display_genre.genre.name }}">
                                {{ display_genre.genre.friendly_name }}
                            </a>
                        </p>
                    </li>
                {% endfor %}
                </ul>
                <p class="mt-3">{{ product.description }}</p>
            </div>
        </div>
    </div>  
{% endblock %}