{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2"> <!-- offset pushes the image towards centre of screen -->
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <p class="mb-0 fs-1" id="product-detail-title">{{ product.product_name }}</p>
                <hr class="w100">
                <p class="mb-0 text-left">£{{ product.price }}</p>
                {% for display_genre in display_genres %}
                    <p>{{ display_genre.genre.friendly_name }}</p>
                {% endfor %}
                <p class="mt-3">{{ product.description }}</p>
            </div>
        </div>
    </div>  
{% endblock %}