{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Rate and Review</h2>
                <div class="d-flex justify-content-center">
                    <hr class="w-75 mb-1"> 
                </div>
            </div>
        </div>
        <div class="my-0">
            <div class="row">
                <div class="col offset-lg-2">
                    <a onclick="goBack()" class="btn btn-outline-dark btn-lg pt-2">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="fw-bold text-uppercase">Back</span>
                    </a>
                </div>
            </div>
            <!-- Display of products bought -->
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <h4 class="mt-2">Review and Rate your purchase of <strong>{{ product.product_name }}</strong>:</h4>
                    {% if reviewed %}
                    <form method="POST" action="{% url 'edit_review' order_number product.id %}">
                    {% else %}
                    <form method="POST" action="{% url 'review_rate' order_number product.id %}">
                    {% endif %}
                        {% csrf_token %}
                        <div class="d-inline-flex">
                            <h3 class="pt-1">Rate:</h3>
                            <div id="rating-area" class="ms-2">
                                <div id="star-panel">
                                    <input type="radio" class="radio_item" value="1" name="rating" id="radio1" required>
                                    <label for="radio1" id="star1"></label>
                                    <input type="radio" class="radio_item" value="2" name="rating" id="radio2">
                                    <label for="radio2" id="star2"></label>
                                    <input type="radio" class="radio_item" value="3" name="rating" id="radio3">
                                    <label for="radio3" id="star3"></label>
                                    <input type="radio" class="radio_item" value="4" name="rating" id="radio4">
                                    <label for="radio4" id="star4"></label>
                                    <input type="radio" class="radio_item" value="5" name="rating" id="radio5">
                                    <label for="radio5" id="star5"></label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3>Review:</h3>
                            <textarea class="w-100" name="review" id="review" rows="5" required>{{ review.review }}</textarea>
                        </div>
                        <div class="float-end">
                            <a class="btn btn-outline-dark btn-lg my-3 text-uppercase fw-bold" onclick="goBack()">Cancel</a>
                            {% if reviewed %}
                            <button class="btn btn-warning btn-lg text-uppercase fw-bold pt-2" type="submit">Update</button>   
                            {% else %}
                            <button class="btn btn-warning btn-lg text-uppercase fw-bold pt-2" type="submit">Submit</button>   
                            {% endif %}
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/user_rating_script.js' %}"></script>
{% endblock %}